@use "../public/assets/styles/variables" as *;
@use "../public/assets/styles/functions" as *;

// Use functions
@function get-rem($pixels) {
  @return get-rem($pixels);
}

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
  overflow: hidden;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

// Angular Component styles
app-root {
  display: block;
  height: 100%;
}

router-outlet + * {
  display: block;
  height: 100%;
}
